.pg-loading-screen .pg-loading-html {
    margin-top: 40px;
}

.pg-loading-screen {
    top: 5px;
}

body {
    margin: 0;
    background-color: #1d334b;
}

body p {
    font-family: "raleway",sans-serif;
}

.pg-loading-screen .pg-loading-html p.loading-message {
    font-size: 20px;
    margin-bottom: 40px;
}

.pg-loading-screen .pg-loading-html p {
    color: #FFF;
    font-weight: 300;
}

/* bar */
#bar {
    margin-top: -9px;
    width: 100%;
    height: 5px;
}

.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 2.5em;
    color: #d0d0d0;
  }
  
.ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.0em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
.ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #d0d0d0;
    transform-origin: 0.5 0;
  }
  
.ml5 .letters {
    display: inline-block;
    padding: 0;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif
}

.ml5 .letters-right {
    margin-left: -0.1em;
}

.ml5 .letters-left {
    margin-right: -0.1em;
}


/* spinner */

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    /*
    * Spinner positions
    * 1 2 3
    * 4 5 6
    * 7 8 9
*/ }
.sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }
